Bienvenido <?=$user?>
<br>
<a class="btn-floating btn-large waves-effect waves-light red" href="add.php"><i class="material-icons">add</i></a>

<br>

<img src="<?=$_SESSION["ruta_archivo"]?>"><?=$_SESSION["producto"]?> 



<h2>PREGUNTAS</h2>


<p>
	<br><strong>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</strong><br>
	<a href="#refs">[1]</a>
	session_unset() libera las variables usadas de la sesión, mientras que session_destroy() destruye la sesión.
	Son necesarios porque UNSET libera $_SESSION, afecta la instancia local, luego se hace el DESTROY para destruir los datos de "session storage"

	<br><strong>¿Cuál es la diferencia entre una variable de sesión y una cookie?</strong><br>
	<a href="#refs">[2]</a>
	Ambos guardan datos, pero una cookie se almacena en la computadora del cliente (un número limitado de datos), mientras que la variable de sesión se queda en el lado del servidor, siendo la sesión capaz de guardar muchos más datos.

	<br><strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</strong><br>
	El problema de sobreescribir archivos ocurre cuando existe otro con el mismo nombre. La solución que implementa FB es asignar como nombre, o id, de la foto un valor único que lo identifique

	<br><strong>¿Qué es CSRF y cómo puede prevenirse?</strong><br>
	<a href="#refs">[4]</a>
	Siglas de Cross Site Request Forgery, ocurre cuando la sesión de un usuario es vulnerada a través de código perjudicial, un exploit. La causa es que algunos sitios web no verifican que una request vino de un usuario, sino más bien del navegador de un usuario.
	Una forma de prevenirlo es a través del uso de cookies, dando a cada usuario un valor semi-random y pasarlo a cada página que visite.


</p>







<!-- Referencias -->
 <div class="list-group" id="refs">
  <hr>
  <h3>Referencias: </h3>
  <a href="https://www.w3schools.com/bootstrap4/bootstrap_get_started.asp" class="list-group-item list-group-item-info">Tutorial de BootStrap en w3schools</a>
  <a href="https://stackoverflow.com/questions/4303311/what-is-the-difference-between-session-unset-and-session-destroy-in-php" class="list-group-item list-group-item-info">What is the difference between session_unset() and session_destroy() in PHP?</a>
  <a href="https://social.msdn.microsoft.com/Forums/es-ES/3a14de16-2646-4352-8ed2-638f9568d991/diferencia-entre-variables-de-session-y-cookies-en-vbnet?forum=vbes" class="list-group-item list-group-item-info">	Diferencia entre variables de session y cookies en vb.net</a>
	<a href="https://medium.com/@GemmaLou/csrf-the-a-z-2b85d26438"b class="list-group-item list-group-item-info">	Diferencia entre variables de session y cookies en vb.net</a>	





</div> 


