Bienvenido <?=$user?>
<br>
<a class="btn-floating btn-large waves-effect waves-light red" href="add.php"><i class="material-icons">add</i></a>

<br>

<img src="<?=$_SESSION["ruta_archivo"]?>"><?=$_SESSION["producto"]?> 



<h2>PREGUNTAS</h2>


<p>
	<br><strong>¿Qué es ODBC y para qué es útil?</strong><br>
	<a href="#refs">[1]</a>
	OPEN DATA BASE CONNECTIVITY. Es un estándar que permite acceder a cualquier base de datos y cualquier elemento sin importar con qué database management system se ha trabajado

	<br><strong>¿Qué es SQL Injection?</strong><br>
	<a href="#refs">[2]</a>
	Es un ataque a una base de datos consistente en mandar como entrada a un formulario código que pueda insertarse en el programa o aplicación, resultando en la ejecución de dicho código perjudicial.


	<br><strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</strong><br>
	Usar funciones como mysql_real_escape_string para limpiar la entrada de datos.
	Otra técnica es también usar funciones que pre procesan los datos para eliminar la opción de inserción al usuario

	
</p>







<!-- Referencias -->
 <div class="list-group" id="refs">
  <hr>
  <h3>Referencias: </h3>
  <a href="https://www.uv.es/jac/guia/gestion/gestion3.htm" class="list-group-item list-group-item-info">¿Qué es ODBC y para qué es útil?</a>
  <a href="https://www.redeszone.net/seguridad-informatica/inyeccion-sql-manual-basico/" class="list-group-item list-group-item-info">INYECCIÓN SQL : MANUAL BÁSICO</a>
  <a href="https://es.stackoverflow.com/questions/18232/c%C3%B3mo-evitar-la-inyecci%C3%B3n-sql-en-php" class="list-group-item list-group-item-info">¿Cómo evitar la inyección SQL en PHP?</a>


</div> 


