
/*Universal selector*/
*{background-color: black}




/* Class selector*/
h1.titulo{color: green}


body{
	color: red;
}


/* Generic selector*/
.info { background-color: #00AACC; }


/* Id selectors */
#css  { font-size: 20pt; color: #6666ff; }
