
<div class="row">
<div class="col-md-6">
<strong>Registrar un incidente de seguridad</strong>
<form action="registrarIncidente.php" method="GET">
    
        <div class="form-group">
          <label for="lugar">Seleccione el lugar:</label>
          <select class="form-control" id="lugar" name="lugar">
            <!--<option>Centro turístico</option>
            <option>Laboratorios</option>
            <option>Restaurante</option>
            <option>Centro Operativo</option>
            <option>Triceratops</option>
            <option>Dilofosaurios</option>
            <option>Velociraptors</option>
            <option>T-Rex</option>
            <option>Planicie de los hervíboros</option>-->
            <?php
            getLugares();
            getTiposRAW();
            ?>
          </select>    
              
          
          
          <label for="tipo">Seleccione el tipo:</label>
          <select class="form-control" id="tipo" name="tipo">
            <!--<option>Falla eléctrica</option>
            <option>Fuga de hervíboro</option>
            <option>Fuga de Velociraptors</option>
            <option>Fuga de T-Rex</option>
            <option>Robo de DNA</option>
            <option>Auto descompuesto</option>
            <option>Visitante en zona no autorizada</option>-->
            <?php
            getTipos();
            ?>
          </select>
          
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Reportar</button>
          
        </div>

</form>
</div>
</div>

<div class="row">
<div class="col-md-6">
<strong>Buscar incidentes por tipo:</strong>
<form action="incidentesTipo.php" method="GET">
    
        <div class="form-group">
          <label for="tipounico">Seleccione el tipo:</label>
          <select class="form-control" id="tipounico" name="tipounico">
            <!--<option>Auto descompuesto</option>
            <option>Falla eléctrica</option>
            <option>Fuga de hervíboro</option>
            <option>Fuga de T-Rex</option>
            <option>Fuga de Velociraptors</option>
            <option>Robo de DNA</option>
            <option>Visitante en zona no autorizada</option>-->
            <?php
            getTipos();
            ?>
          </select>
          
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button>
          
        </div>

</form>

<div id="txtHint"><b>Listado de incidentes por tipo...</b></div>
</div>






<div class="col-md-6">
<strong>Eliminar incidente por id:</strong>
<form action="eliminaIncidente.php" method="GET">
    
        <div class="form-group">
          <label for="id">Seleccione el tipo:</label>
          <input type="number" min="1" value="1" class="form-control" id="id" name="id">
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Eliminar</button>
          
        </div>

</form>
</div>



</div>

<?php
cuentaIncidentes();
getIncidentes();
?>




