

  <h2>¡Regístrate con nosotros!</h2>
  <form action="/login.php" method="post">


    <div class="form-group">
      <label for="usuario">Nombre de Usuario:</label>
      <input type="text" id="usuario" placeholder="Introduzca su username" name="usuario"  class="validate" required>
    </div>


	<div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Introduzca su password" name="password" class="validate" required>
    </div>
   
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>



  </form>
