Bienvenido <?=$user?>
<br>

<form>
	<p>Forma:</p>
	<input type="text" name="userInput" id="userInput" onkeyup="sendRequest()">
</form>


<div id="ajaxResponse"></div>




<a class="btn-floating btn-large waves-effect waves-light red" href="add.php"><i class="material-icons">add</i></a>

<br>

<img src="<?=$_SESSION["ruta_archivo"]?>"><?=$_SESSION["producto"]?> 






<h2>PREGUNTAS</h2>


<p>

	<br><strong>¿Por qué es una buena práctica separar el modelo del controlador?</strong><br>
	<a href="#refs">[1]</a>
	Para llevar un mejor orden y control de todo el proyecto, así si se desea modificar alguna funcionalidad o esquema no es necesario cambiar todo el proyecto sino solo la parte específica.

	<br><strong>¿Qué es SQL injection y cómo se puede prevenir?</strong><br>
	<a href="#refs">[2]</a>
	Es un ataque a una base de datos consistente en mandar como entrada a un formulario código que pueda insertarse en el programa o aplicación, resultando en la ejecución de dicho código perjudicial.
	Se puede prevenir usando las siguientes técnicas: usar funciones como mysql_real_escape_string para limpiar la entrada de datos. Otra técnica es también usar funciones que pre procesan los datos para eliminar la opción de inserción al usuario

	
	<br><strong>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</strong><br>
	<a href="#refs">[3]</a>
	AJAX tiene gran importancia en el desarrollo web, y gracias a esto se está tomando la web de forma "agresiva", ayudando a superar las limitaciones de fluidez que tiene el lenguaje HTML. (Nieto, 2017)

    <br><strong>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</strong><br>
	<a href="#refs">[4]</a>
	Se podrían perder potencialmente los privilegios que le otorgan los navegadores web para una página. Por ejemplo, no se podría proteger del CSRF utilizando tokens. "Un capthca podría mitigar este problema, también verificando que el referer también podría ayudar" (Code Q&A, 2018).
	Las validaciones deben de realizarse siempre del lado del servidor, aún cuando ya se han validado del lado del cliente, así previniéndose potenciales ataques web. [5]	

	<br><strong>¿Qué es JSON?</strong><br>
	<a href="#refs">[6]</a>
	(JavaScript Object Notation - Notación de Objetos de JavaScript).
	Un lenguaje fácil de leer y entender para humanos y computadoras.
	"JSON es un formato de texto que es completamente independiente del lenguaje pero utiliza convenciones que son ampliamente conocidos por los programadores de la familia de lenguajes C".
	JSON está constituído por dos estructuras:

    "Una colección de pares de nombre/valor. En varios lenguajes esto es conocido como un objeto, registro, estructura, diccionario, tabla hash, lista de claves o un arreglo asociativo.
    Una lista ordenada de valores. En la mayoría de los lenguajes, esto se implementa como arreglos, vectores, listas o sequencias." (JSON, 2017)


    <br><strong>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</strong><br>
	<a href="#refs"></a>




    <br><strong>¿Qué alternativas a jQuery existen?[8]</strong><br>
	<a href="#refs"></a>
	<ul>
		<li>Se puede usar javascript puro, aunque habría de conocer las distintas formas de manejar los elementos del DOM</li>
		<li>Se puede usar librerías minimalistas enfocadas a cierto tipo de funcionalidades, aumentan rendimiento sin mucho costo en espacio y tiempo</li>
		<li></li>
	</ul>
	
	
</p>







<!-- Referencias -->
 <div class="list-group" id="refs">
  <hr>
  <h3>Referencias: </h3>
  <a href="https://www.uv.es/jac/guia/gestion/gestion3.htm" class="list-group-item list-group-item-info">¿Qué es ODBC y para qué es útil?</a>
  <a href="https://www.redeszone.net/seguridad-informatica/inyeccion-sql-manual-basico/" class="list-group-item list-group-item-info">INYECCIÓN SQL : MANUAL BÁSICO</a>
  <a href="https://es.stackoverflow.com/questions/18232/c%C3%B3mo-evitar-la-inyecci%C3%B3n-sql-en-php" class="list-group-item list-group-item-info">¿Cómo evitar la inyección SQL en PHP?</a>
  <a href="https://code.i-harness.com/es/q/73e93e" class="list-group-item list-group-item-info">¿Cuáles son los riesgos de seguridad al usar XMLHttpRequest de dominio cruzado? [ajax]</a>
  <a href="http://www.monografias.com/trabajos89/ria-aplicaciones-internet-enriquecidas/ria-aplicaciones-internet-enriquecidas.shtml" class="list-group-item list-group-item-info"> RIA, las Aplicaciones de Internet Enriquecidas</a>
  <a href="http://www.flu-project.com/2014/04/seguridad-en-ajax-parte-iii.html">Introducción a JSON</a>
  <a href="https://www.json.org/json-es.html">Introducción a JSON</a>
  <a href="http://www.etnassoft.com/2011/03/28/alternativas-a-jquery/">Alternativas a jQuery</a>
  
</div> 


